<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nayun.dao.PeoplesMapper">
    <!--查询所有社区-->
    <select id="selshe" resultType="com.nayun.pojo.community">
        select * from community where pid=1
    </select>
    <!--根据社区id查询社区下的小区-->
    <select id="selqu" resultType="com.nayun.pojo.community">
        select * from community where pid=#{pid}
    </select>
    <!--分页查询个人数据-->
    <select id="sel" resultType="com.nayun.pojo.Peoples">
      select p.*,CONCAT(d.name,'-',di.name,'-',dis.name) as arean,concat(c.name,'-',co.name,p.address) as areans from peoples p
        INNER JOIN districts d
        on p.idp=d.id
        INNER JOIN districts di
        on p.idc=di.id
        INNER JOIN districts dis
        on p.idt= dis.id
        INNER JOIN community c
        on p.eid=c.id
        INNER JOIN community co
        on p.xid=co.id
        where p.name like #{name}
         and p.sex like #{sex}
         and p.age > #{age1}
         and p.age <![CDATA[ < ]]> #{age2}
         and p.cause like #{cause}
         and jid like #{jid}
         <if test="eid!=0">
             and eid = #{eid}
         </if>
        <if test="xid!=0">
            and xid = #{xid}
        </if>
        limit #{index},10
    </select>
    <!--查询总页数-->
    <select id="cou" resultType="int">
        select count(p.id)
         from peoples p
        INNER JOIN districts d
        on p.idp=d.id
        INNER JOIN districts di
        on p.idc=di.id
        INNER JOIN districts dis
        on p.idt= dis.id
        INNER JOIN community c
        on p.eid=c.id
        INNER JOIN community co
        on p.xid=co.id
        where p.name like #{name}
        and  p.sex like #{sex}
        and p.age > #{age1}
        and p.age <![CDATA[ < ]]>  #{age2}
        and p.cause like #{cause}
        and jid like #{jid}
        <if test="eid!=0">
            and eid = #{eid}
        </if>
        <if test="xid!=0">
            and xid = #{xid}
        </if>
    </select>
</mapper>